html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/*************************************************************************************************************************************/

body
{
    background-color: beige;
}

.header
{
    display: block;
    text-align: center;
    width: 100%;
    background-color: powderblue;
    height: 200px;
}

.header .headerBanner /* Not using at the moment */
{
    width: 100%;
    display: block;
    height: 200px;
}

.rubrikText
{
    /* Font attributes */
    font-family: arial;
    font-size: 40px;
    font-weight: bold; 
    color: beige;

    /* Display of the title */
    line-height: 200px;
    display: inline-block;
    vertical-align: middle;
}

.menu
{
    background-color: #800000;
}

.menu ul
{
    list-style: none;
    text-align: center;
}

.menu li
{
    display: inline-block;
}

.menu li a
{
    /* Font attributes */
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    text-decoration: none;
    color: white;

    /* Display*/
    display: block;
    padding: 10px;
}

.menu li a:hover
{
    background-color: #4b0000;
    transition: 0.2s;
}

.startsidaText
{
    background-color: white;
    /* border-left: 1px solid;
    border-right: 1px solid; */
    margin-left: 20vw; /* Margin of the whole white area */
    margin-right: 20vw; /* Margin of the whole white area */
    padding-top: 40px; /* Creates space from top to rubrik */
    height: 600px;
    margin-bottom: 10px;
}

.startsidaTextRubrik
{
    /* Font attributes */
    font-family: arial;
    font-weight: bold;
    font-size: 40px;

    /* Display */
    position: relative;
    margin-left: 20px;
    margin-right: 20px;
}

.startsidaTextParagraph
{
    position: relative;
    margin-top: 25px;
    margin-left: 20px;
    margin-right: 20px;
}

.foot
{
    background-color: rgb(61, 114, 228);
    width: 100%;
    height: 100px;

    /* Text */
    text-align: center;
    padding-top: 10px;
    color: white;
}